#details-modal.modal.fade.bd-example-modal-xl(tabindex='-1', role='dialog', aria-labelledby='myExtraLargeModalLabel', aria-hidden='true')
	.modal-dialog.modal-xl
		.modal-content
			.modal-header
				h5.modal-title Item description
				button.close(type='button', data-dismiss='modal', aria-label='close')
					span(aria-hidden='true') ×
			.modal-body
				.container-fluid
					.row
						#carouselExampleControls.carousel.slide(data-ride='carousel')
							.carousel-inner#product-images
								.carousel-item.active
									img.d-block.w-100(src='./images/laptop.jpg', alt='...')
							a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
								span.carousel-control-prev-icon(aria-hidden='true')
								span.sr-only Previous
							a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
								span.carousel-control-next-icon(aria-hidden='true')
								span.sr-only Next
					.row
						.col
							h3#titleModal="Dell Inspirion"
					.row
						.col-md-6
							p#descriptionModal Description for the laptop goes over here
						.col-md-6
							table.table
								tbody
									tr
										th Basics
										th
									tr
										td Manufacturer
										td#manufacturerModal Dell
									tr
										td Model
										td#modelModal Inspirion 7567
									tr
										th Processor
										th
									tr
										td Model
										td#processorModal Intel Core i7
									tr
										th Graphics
										th
									tr
										td Model
										td#graphics-cardModal Nvidia GeForce 1050ti
									tr
										td Screen Size
										td#screen-sizeModal 15"
									tr
										th Memory
										th
									tr
										td Storage
										td#storageModal 256GB m.2 SSD
			.modal-footer
				button.btn.btn-success#addToCart(type='button') Add to cart
				button.btn(type='button', data-dismiss='modal') Close