#details-modal.modal.fade.bd-example-modal-xl(tabindex='-1', role='dialog', aria-labelledby='myExtraLargeModalLabel', aria-hidden='true')
	.modal-dialog.modal-xl
		.modal-content
			.modal-header
				h5.modal-title Item description
				button.close(type='button', data-dismiss='modal', aria-label='close')
					span(aria-hidden='true') ×
			.modal-body
				.container-fluid
					.row
						#carouselExampleControls.carousel.slide(data-ride='carousel')
							.carousel-inner
								.carousel-item.active
									img.d-block.w-100(src='./images/laptop.jpg', alt='...')
								.carousel-item
									img.d-block.w-100(src='./images/laptop.jpg', alt='...')
								.carousel-item
									img.d-block.w-100(src='./images/laptop.jpg', alt='...')
							a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
								span.carousel-control-prev-icon(aria-hidden='true')
								span.sr-only Previous
							a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
								span.carousel-control-next-icon(aria-hidden='true')
								span.sr-only Next
					.row
						.col
							h3 Dell Inspirion
					.row
						.col-md-6
							p Description for the laptop goes over here
						.col-md-6
							table.table
								tbody
									tr
										th Basics
										th
									tr
										td Manufacturer
										td Dell
									tr
										td Model
										td Inspirion 7567
									tr
										th Processor
										th
									tr
										td Model
										td Intel Core i7
									tr
										td No of cores
										td 4
									tr
										th Graphics
										th
									tr
										td Model
										td Nvidia GeForce 1050ti
									tr
										td VRAM
										td 4GB GDDR5
									tr
										th Memory
										th
									tr
										td Memory
										td 8GB DDR4
									tr
										td Storage
										td 256GB m.2 SSD
			.modal-footer
				button.btn.btn-success(type='button', data-dismiss='modal') Add to cart
				button.btn(type='button', data-dismiss='modal') Close